@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/GolosText-Bold.woff2") format("woff2"),
    url("../fonts/GolosText-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: 375px;
  font-size: 18px;
  font-family: "GolosText", sans-serif;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.page__body {
  min-width: 100%;
  margin: 0;
}

.container {
  width: 335px;
  margin: 0 auto;
}

.page-header {
  padding: 18px 0 323px;
  background-image: url("../image/bg-mobile.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: #e7dcd1;
}

.page-header__heading {
  margin: 36px 0 24px;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.heading__part {
  display: inline-block;
}

.part__two {
  margin-left: 64px;
}

.part__three {
  margin-left: 30px;
}

.page-header__discription {
  margin: 0;
  line-height: 23px;
}

.page-header__buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button__page-pay {
  padding: 18px;
  background-color: #1F1F1F;
  border-radius: 66px;
  margin-bottom: 8px;
}

.button__discription {
  color: #1F1F1F;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 66px;
}

.page-main__section {
  padding: 48px 0;
}

.event {
  display: grid;
  row-gap: 24px;
}

.event__one {
  margin-bottom: 34px;
  grid-template-areas:
    "discription--part-one"
    "discription--part-two";
}

.event__discription {
  margin: 0;
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
}

.event__discription--part-one {
  grid-area: discription--part-one;
}

.event__discription--part-two {
  padding-top: 236px;
  position: relative;
  grid-area: discription--part-two;
}

.event__discription--part-two::before {
  content: "";
  position: absolute;
  width: 335px;
  height: 213px;
  top: 0;
  left: 0;
  background-image: url("../image/event-1.png");
}

.event__discription--name {
  color: #F54932;
  font-weight: 700;
}

.event__two {
  grid-template-areas:
    "discription"
    "info";
}

.event__discription--two {
  position: relative;
  grid-area: discription;
  padding-top: 424px;
  margin-bottom: 4px;
}

.event__discription--two::before {
  content: "";
  position: absolute;
  width: 375px;
  height: 403px;
  top: 0;
  left: -20px;
  background-image: url("../image/event-2.png");
}

.event__list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event__item {
  grid-column: 1 / -1;
  padding: 10px 0;
}

.event__item:not(:last-child) {
  border-bottom: 2px solid #d0d0d0;
}

.event__title {
  display: inline-block;
  color: #313131;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
  margin: 6px 0;
  margin-right: 12px;
}

.event__definition {
  margin: 6px 0;
  font-weight: 700;
  color: #313131;
  line-height: 24px;
  display: inline-block;
}

.line {
  text-decoration: line-through solid #F54932;
}

.events__questions {
  text-decoration: none;
  color: #3057A2;
}

.stages {
  margin-top: 24px;
}

.stages__heading {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.stages__discription {
  margin: 0;
  margin-bottom: 22px;
  color: #3057A2;
}

.stages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  list-style: none;
  padding-top: 126px;
  position: relative;
  counter-reset: stages;
}

.stages__list::before {
  content: "";
  position: absolute;
  background-image: url("../image/aircraft.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 335px;
  height: 182px;
  top: 0;
  left: 7px;
}

.stages__item-group {
  min-height: 300px;
  padding-top: 44px;
  padding-left: 72px;
  padding-right: 30px;
  background-image: url("../image/bg_stages.png");
}

.stages__item {
  position: relative;
  counter-increment: stages;
}

.stages__item::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffff;
  left: -52px;
}

.stages__item::after {
  content: counter(stages);
  position: absolute;
  top: 7px;
  left: -39px;
}

.stages__item + .stages__item {
  margin-top: 28px;
}

.stages__slider{
  display: flex;
  justify-content: center;
}

.stages__button {
  padding: 0;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: #313131;
  background-image: url("../image/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.stages__button--prev {
  transform: rotate(180deg);
}

.pagination__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 13px;
}

.pagination__item {
  margin: 0 3px;
}

.pagination__button {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
}

