@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/GolosText-Medium.woff2") format("woff2"),
    url("../fonts/GolosText-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/GolosText-DemiBold.woff2") format("woff2"),
    url("../fonts/GolosText-DemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/GolosText-Bold.woff2") format("woff2"),
    url("../fonts/GolosText-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather-Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-width: 375px;
  font-size: 18px;
  font-family: "GolosText", sans-serif;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.page__body {
  min-width: 100%;
  margin: 0;
}

.container {
  width: 335px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  padding: 18px 0 323px;
  background-image: url("../image/bg-mobile.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-color: #e7dcd1;
}

.page-header__heading {
  margin: 36px 0 24px;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.heading__part {
  display: inline-block;
}

.part__two {
  margin-left: 64px;
}

.part__three {
  margin-left: 30px;
}

.page-header__discription {
  margin: 0;
  line-height: 23px;
}

.page-header__buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button__page-pay {
  padding: 18px;
  background-color: #1F1F1F;
  border-radius: 66px;
  margin-bottom: 8px;
  line-height: 17px;
}

.button__discription {
  color: #1F1F1F;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 66px;
  line-height: 17px;
}

.page-header__promo {
  margin-top: -38px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #F54932;
}

.promo__line {
  padding: 8px 0;
  display: flex;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.promo__text {
  position: relative;
  padding: 0 18px 0 12px;
  color: #ffffff;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__text::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  top: calc(50% - 3px);
  right: 0;
}

.page-main__section {
  padding: 48px 0;
}

.event {
  display: grid;
  row-gap: 24px;
}

.event__one {
  margin-bottom: 34px;
  grid-template-areas:
    "discription--part-one"
    "discription--part-two";
}

.event__discription {
  margin: 0;
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
}

.event__discription--part-one {
  grid-area: discription--part-one;
}

.event__discription--part-two {
  padding-top: 236px;
  position: relative;
  grid-area: discription--part-two;
}

.event__discription--part-two::before {
  content: "";
  position: absolute;
  width: 335px;
  height: 213px;
  top: 0;
  left: 0;
  background-image: url("../image/event-1.png");
}

.event__discription--name {
  color: #F54932;
  font-weight: 700;
}

.event__two {
  grid-template-areas:
    "discription"
    "info";
}

.event__discription--two {
  position: relative;
  grid-area: discription;
  padding-top: 427px;
  margin-bottom: 4px;
}

.event__discription--two::before {
  content: "";
  position: absolute;
  width: 375px;
  height: 403px;
  top: 0;
  left: -20px;
  background-image: url("../image/event-2.png");
}

.event__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.event__item {
  grid-column: 1 / -1;
  padding: 9px 0;
}

.event__item:not(:last-child) {
  border-bottom: 2px solid #d0d0d0;
}

.event__title {
  display: inline-block;
  color: #313131;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.7;
  margin: 6px 0;
  margin-right: 12px;

}

.event__definition {
  margin: 6px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #313131;
  display: inline-block;
}

.line {
  text-decoration: line-through solid #F54932;
}

.events__questions {
  text-decoration: none;
  color: #3057A2;
}

.stages {
  margin-top: 25px;
}

.stages__heading {
  margin: 0;
  margin-bottom: 11px;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.stages__discription {
  margin: 0;
  margin-bottom: 22px;
  color: #3057A2;
}

.stages__list {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  list-style: none;
  padding-top: 126px;
  position: relative;
  counter-reset: stages;
}

.stages__list::before {
  content: "";
  position: absolute;
  background-image: url("../image/aircraft.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 335px;
  height: 182px;
  top: 0;
  left: 7px;
}

.stages__item-group {
  min-height: 300px;
  padding-top: 44px;
  padding-left: 72px;
  padding-right: 30px;
  background-image: url("../image/bg_stages.png");
}

.stages__item {
  position: relative;
  counter-increment: stages;
  /* letter-spacing: 0.005em; */
}

.stages__item::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffff;
  left: -52px;
}

.stages__item::after {
  content: counter(stages);
  position: absolute;
  top: 7px;
  left: -39px;
}

.stages__item + .stages__item {
  margin-top: 28px;
}

.stages__text {
  font-weight: 500;
}

.stages__slider{
  display: flex;
  justify-content: center;
}

.stages__button {
  padding: 0;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: #313131;
  background-image: url("../image/arrow.svg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

.stages__button--prev {
  transform: rotate(180deg);
}

.pagination__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 13px;
}

.pagination__item {
  margin: 0 3px;
}

.pagination__button {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.participants {
  padding: 72px 0 138px;
}

.participants__container {
  display: grid;
  grid-template-areas:
    "header"
    "list"
    "nav";
}

.participants__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  grid-area: header;
}

.participants__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 13px;
  grid-area: list;
}

.participants__item {
  display: grid;
  padding: 20px 24px;
  background-color: #ffffff;
}

.participants__name {
  margin: 0;
  padding-top: 272px;
  position: relative;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 8px;
}

.participants__name::before {
  content: "";
  position: absolute;
  width: 244px;
  height: 244px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../image/participant.svg");
  background-repeat: no-repeat;
  background-color: #c7bcad;
  background-position: 50% 16px;
  clip-path: circle(122px);
}

.participants__discription {
  margin: 0;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 22px;
}

.participants__button {
  padding: 12px;
  justify-self: center;
  color: #3057A2;
  border: 1px solid #3057A2;
  border-radius: 62px;
  background-color: #ffffff;
  line-height: 16px;
}

.participants__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: nav;
}

.button__nav {
  padding: 18px;
  background-color: #313131;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../image/arrow.svg");
}

.button__nav--right {
  transform: rotate(180deg);
}

.button__number {
  margin: 0 14px;
}

.page-footer {
  background-color: #E9DED4;
}

.page-footer__container {
  padding: 41px 0 60px;
}

.page-footer__disclaimer {
  margin: 0;
  color: #313131;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}
